.social-links {
  display: flex;
  gap: 1rem;
}
.social-links .social-link {
  border-radius: 50%;
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s ease;
}
.social-links .social-link img {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.25));
  transition: transform 0.3s ease;
}
.social-links .social-link:hover {
  background-color: #f0f0f0;
}
.social-links .social-link:hover img {
  transform: translateY(-2px);
  filter: drop-shadow(0 0.4rem 0.3rem rgba(0, 0, 0, 0.35));
}