
$bg-btn-color:  rgba(234, 109, 39, 1);
$bg-btn-small-color: rgba(0, 0, 0, 1);
$bg-nav-color: rgba(16, 26, 36, 1);
$bg-btn-font-color:rgba(255, 255, 255, 1);
$sub-title-color:rgba(92, 101, 116, 1)

